/* Name: style.css


/* Author: Jelte Cost */


/* Path: projects\simple-portfolio\css\style.css */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --bg-color-1: #f2f2f2;
    --navbar-color: #000000;
    --navbar-color-hover: #f2f2f2;
    --text-color: #061a22;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.text {
    color: var(--text-color);
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topnav a.special {
    padding: 10px 18px;
    margin: 8px 0px 0px 10px;
    border: 2px solid rgba(6, 26, 34, .1);
    border-radius: 100px;
    height: 100%;
    background-color: #04AA6D;
}

.centered {
    /* center text on image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* font-size: 20rem; */
}

.image_container {
    position: relative;
    text-align: center;
    color: white;
    /* cut background from top */
    /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 calc(100% - 10vw)); */
}

.container {
    z-index: 99;
    padding: 10px 10px 10px 10px;
}

.container_button {
    color: white;
    font-size: 17px !important;
    text-decoration: none !important;

}

.container_button b:hover {
    text-decoration: none !important;
    color: rgb(194, 194, 194);



}

.container h2 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h3 {
    padding-top: 0 !important;
}

.container .btn {
    padding: 10px 20px 10px 20px;
    border: 0px;
}

.container_frame {
    background-color: red;
    padding-top: 0.46875rem;
    padding-right: 0.23438rem;
    padding-left: 0.23438rem;
}

.container div.container_button {
    align-items: center;
    margin-bottom: 0;
}

.btn {
    margin-top: 4px !important;
    margin-bottom: 20px !important;
}


/* stappen shit */

.planner-progress {
    border-bottom: 1px solid #e6e6e6;
}

.planner-progress ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
    text-align: left;
    max-height: 100px;
}

.planner-progress ul li {
    /* float: left; */
    border-right: 1px solid #e6e6e6;
    display: inline-block;
    height: 100%;
    min-width: 260px;
}

.step-active {
    background-color: #e53d51 !important;
}

.step-active a {
    color: white !important;
    opacity: 1 !important;
}

.step-disabled {
    background-color: #333333;
}

.step-disabled a {
    color: white !important;
    opacity: 1 !important;
}

.planner-progress ul li a {
    opacity: .6;
    display: block;
    color: #263238;
    ;
    text-align: left;
    padding: 20px;
    text-decoration: none;
}

.planner-progress ul li p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
}

.planner-progress ul li h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
}

.counter {
    overflow: auto;
}

.counter p {
    background-color: #061a22;
    color: white;
    border-radius: 5px;
    float: left;
    text-align: center;
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    text-decoration: none;
    font-size: 17px;
    margin: 10px 10px 10px 0;
    min-width: 120px;
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.8;
    color: rgba(6, 26, 34, .6);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(6, 26, 34, .1);
    border-radius: 10px;
}

.breadcrumb {
    margin-bottom: 0;
}

.button-price a {
    background-color: #f2f2f2;
    color: var(--text-color);
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.review-container {
    min-width: 100%;
    min-height: max-content;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.review-container .review-col {
    width: 33.333%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background: #e1e1e1;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}

/* order */

.service_form ul li {
    text-decoration: dashed;
}

.service_form ul {
    list-style-type: none;
    padding: 0;
}